name: Update gist for history
on:
  schedule:
    - cron: "*/10 * * * *"
jobs:
  update-gist-for-history:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist for history
        uses: ./.github/actions/history-action
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 645a83cff2b6dcdc5ae956075e5cd22e
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
