name: Update gist with WakaTime stats
on:
  schedule:
    - cron: "10/* * * * *"
jobs:
  update-gist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Update gist
        uses: sishenhei7/waka-box@master
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          GIST_ID: 645a83cff2b6dcdc5ae956075e5cd22e
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
